*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: white;
    
}

.checkbtn{
    font-size: 50px;
    color: black;
    line-height: 80px;
    float: right;
    cursor: pointer;
    display: none;
}


.logo {
    width: 107px;
    height: 33px;
    margin-top: 2px;
    padding-bottom: 21px;
    margin-bottom: -32px;
    padding-left: 8px; 

}
.categorie{
    padding: 20px 10px 26px 10px;
    margin: 0px 0px 0px -17px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
  .second-dropdown {
    position: relative;
    display: inline-block;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
  }
  
  .second-dropdown-content {
    
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
  }
  
  .second-dropdown:hover .second-dropdown-content {
    display: inline-block;
    
  }
  
  .therd-dropdown {
    position: relative;
    display: inline-block;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
  }
  
  .therd-dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
  }
  
  .therd-dropdown:hover .therd-dropdown-content {
    display: block;
  }



nav ul li {
    display: inline-block;
    font-size: 13px;
    padding-top: -5px;
    /* margin-top: 27px; */
    /* margin-bottom: 4px; */
    margin: 0px 5px -10px 21px;
}

nav ul {
    float: right;
    width: 100%;
    position: relative;
    z-index: 1;
    box-shadow: -6px 10px 12px -6px #888;
    height: 60px;
}



nav {
    width: 100%;
    height: 100%;
}


.ul-second li {
    display: inline-block;
    margin: 10px;
}

.third {
    margin-left: 15%;
    margin-right: 59%;
    margin-bottom: 35px;
    padding-bottom: 75px;

}

a {
    color: black;
}

/* a:hover{
    color: blue;
} */

.bi-search{
    width: 25px;
    height: 19px;
}

.button{
    background-color: transparent;
    border: 0;
    width: 2.8rem;
    
}

.first-form{
    /* padding: 10px 26px;
    width: 88%;
    background: rgb(201, 192, 192);
    display: flex;
    border-radius: 60px;
    border: 1px solid black;
    margin-right: 52px;
    padding-left: 23px; */

    height: 2.8rem;
    border: 1px solid #1c1d1f;
    border-radius: 9999px;
    background-color: #f7f9fa;
    margin: 0 157px 0 0;
    width: 100%;
}

.first-form-two{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2.4rem 0 0;
}

.first-form input{
    background: transparent;
    border: 0;
    outline: none;
    font-size: 15px;
}


.log_in {
    border-width:1px ;
    border-style: solid ;
    padding: 10px 16px ;
    font-weight: bold ;
}

.sign_up {
    background-color: black;
    border-width:1px ;
    border-style: solid ;
    padding: 10px 16px ;
    font-weight: bold ;
    color: white;
}

.langue {
    border-width:1px ;
    border-style: solid ;
    padding: 8px 16px ;
}

.get {
    color: white;
}

.debut {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: initial;
    margin-top: 5px;
}

.debut img{
    width: 100%;
}

.first{
    position: absolute;
    padding: 39px;
    width: 373px;
    left: 145px;
    top: 134px;
    display: flex;
    flex-direction: column;
    background: white;
    padding-top: 24px;
    padding-left: 27px;
    height: 175px;
    margin-left: -73px;
    font-size: 23px;
}

.tab {
    overflow: hidden;
    background-color: transparent;
    margin: 0 0px 0 18px;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 15px;
    font-weight:bold ;
    color: rgb(138, 138, 134);
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    color:black;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    color: black;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 30px;
    border-top: none;
    border-right: none;
  }
  

  #wrapper  {
    width: 100%;
    position: relative;
  }
  #wrapper_2{
    width: 100%;
    position: relative;
    height: 100%;
  }
  
  #carousel  {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  #carousel_2{
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: 100%;
  }
  
  #carousel::-webkit-scrollbar ,#carousel_2::-webkit-scrollbar {
    height: 0;
  }
  
  #prev,#prev_i,
  #next,#next_i {
    display: flex;
    justify-content: center;
    align-content: center;
    background: black;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
  }
  
  #prev,#prev_i  {
    top: 22%;
    left: 0;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  #next , #next_i{
    top: 22%;
    right: 0;
    transform: translate(10%, -50%);
  }

  
  #content , #content_i {
    display: grid;
    grid-gap: 30px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }
  #content_2{
    display: grid;
    grid-gap: 30px;
    grid-auto-flow: column;
    /* margin: auto; */
    box-sizing: border-box;
    /* height: 100%; */
    width: 90%;
    margin-top: 2%;
  }
  
  .gallery {
    width: 180px;
    height: 100%;
  }

  .gallery_2 {
    width: 180px;
    height: 100%;
  }



  
  .conteneur{
    margin: 5px;
    border: 1px solid #ccc;
    width: 93%;
    height: 400px;
    padding: 3%;
    height: 100%;
  
  }
  
  .ecriture{
    width: 55%;
    margin-bottom: 28px;
  }

  .pictures{
    margin-top: 35px;
    width: 100%;
  }
  
  .gallery {
    margin: 5px;
    float: left;
    width: 180px;
  }
  
  .gallery:hover {
    cursor: pointer;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
  
  }
  
  
  .desc {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .desc p{
    display: flex;
    margin-top: 5px;
  }




.demo{
    color: white;
    background-color: black;
    mask-border-width: 1px;
    border-style: solid;
    padding: 15px 19px 15px;
    position: absolute;
    top: 306px;
    left: 99px;
}

.first-table{
    width: 100%;
}

.second_table td a{
color: #ccc;
}

.second_table td a:hover{
text-decoration: underline;
}


.topcategori{
    font-size: 40px;
    font-weight: bold;
    margin-left: 2.5%;
    padding-top: 3%;

}

.picture tr td {
    padding: 1%;
    margin-right: 0%;
    padding-left: 2.5%;
}


.picture img {
    width: 100%;
}


.head {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 12px;
}

.topics{
    margin-top: 50px; 
    margin-bottom: 63px;
    padding: 57px 141px 57px 26px;
    background-color: rgb(246, 246, 252);
}



.topics_Head {
    font-size: large;
    font-weight: bold;
}

.Explore {
    border-width:1px;
    padding-top: 13px;
    border-style: solid;
    padding: 7px;
}

.onediv {
    text-align: center;
    line-height: 250%;
}

.seconddiv{
    word-spacing:120px;
}


.table{
    line-gap-override: 20px;
    border: none;
    width: 100%;
    height: 263px;
    margin-top: 18px;
}

.F-body a {
    text-decoration:underline ;
    color: blue;
}

.F-body div {
    padding-bottom: 10px;
}

.F-body p {
    color: rgb(104, 103, 103);
    font-size: 13px;
}

.italic {
    font-size: 34px;
}

section {
    margin: 20px 0 20px 30px ;
}

.third {
    margin-left: 15%;
}

.ul-second  li { 
    display: inline;
}

ul-third {
    height: 135px;
}

ul-third li {
    height: 20px;
}


.background{
    background-color: #f7f9fa;
    padding: 1%;
}


.remercie{
    width: 65%;
    margin: 7% 10% 7% 15%;
    border: 1px solid rgb(203 203 203);
    background-color: white;
    padding: 10px;
    height: 300px;
}

.quote{
    height: 7%;
    margin: 0px 8px 8px 8px;
}

.F-content{
    margin: 30px 30px 0px -55px;
    height: 100%;
    width: 90%;
    font-size: 20px;
}

.S-content{
    margin: 26% 0% 0% 0%;
    text-align: center;
    width: 100%;
}

.S-F-content{
    text-align: center;
}

#pres,
#nextt {
  display: flex;
  justify-content: center;
  align-content: center;
  background: black;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}



#pres {
    transform: translate(-90%, -450%);
    display: none;
}

#nextt {
  right: 0;
  transform: translate(-520%, -450%);}



.first-div {
    margin: 10px 0px 70px;
}

.first-div img {
    margin: 0 7% 0 15%;
}
.second-div {
    display: inline-block;
    position: absolute;
    margin: 10% 10% 10% 0;
    font-size: 20px;
}
.therd-div{
    border: 1px solid black;
    background-color: black;
    color: aliceblue;
    position: absolute;
    padding: 10px;
}

.back {
    padding-top: 20px;
}

.section-three{
    margin-bottom: 70px;
    display: inline-block;
    width: 60%;
}

.UB_Promo {

    margin-left: 100%;
    width: 50%;
}

.logo-ub {
    width: 400px;
    height: 400px;
    margin-left: 20%;
    /* margin-left: 300px; */
    /* margin-bottom: 300px; */
    /* display: inline-block; */
    position: absolute;
    font-size: 20px;

}

.zone {
    margin: -22px 0 0px 20px;
}

.logo-ub ul{
    list-style-position: inside;
}

.logo-ub ul li{
    padding: 10px;
    font-size: 23px;
}

.footer{
    background-color: black;
    color: white;
    height: 278px;

}
.second_table {
    width: 100%;
    text-align: left;
    height: 164px;
    padding-left: 50px;
    padding-bottom: 0px;
    padding-top: 18px;
    
}
.Udemey_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 33px 0;
}

.Eng {
    border: 1px solid;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 61%;
    height: 100%;
    cursor: pointer;
}



.copy {
    padding-left: 72%;
}




@media (max-width:1236px) {
    .checkbtn{
        display: ;
    }

   
    .shop{
        display: none;
    }
    
    
}

@media (max-width:1190px) {
    .langue{
        display: none;
    }

}



@media (max-width:950px) {
    .first{
        display: none;
    }
    .demo{
        display: none;
    }
}

@media (max-width:1110px) {
    #one{
        display: none;
    }   
}

@media (max-width:873px) {
    .checkbtn{
        display: block;
    } 
    .log_in , .sign_up{
        display: none;
    }
}

